@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", "Poppins", "Roboto", sans-serif;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  // filter: invert(1);
}

$bg-color: #eaeaea;
$primary-color: #149c7c;
$border-radius: 3pt;
$txt-color: #252525;
$menu-strip-color: #edf7f5;
$scrollbar: #149c7c50;
$firstTimeBG: #eeeeee;

body {
  background-color: $bg-color;
}

i {
  color: $txt-color;
  font-size: 1.2rem;
}
.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Splash Screen
.splashScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  ion-icon {
    margin-right: 0.5rem;
    animation: loading 2s infinite;
  }
}

// Login Page
.log {
  header {
    background-color: #f8f8f8;
    height: 80px;
    box-shadow: 2px 2px 30px -10px #00000027;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10%;
    h1 {
      color: $primary-color;
      font-weight: 800;
    }
  }
}
.txt {
  all: unset;
  box-sizing: border-box;
  margin-bottom: 1rem;
  background-color: #0000000e;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  color: $txt-color;
  border-radius: $border-radius;
  border: 2pt solid #00000000;
  transition: border-color 200ms ease;
  &:hover {
    border: 2pt solid #0000002c;
  }
  &:focus {
    border: 2pt solid #00000048;
  }
  &::placeholder {
    opacity: 0.3;
  }
  &:disabled {
    opacity: 0.8;
  }
  &:disabled:hover {
    border: 2pt solid #00000000;
  }
}
.btn {
  all: unset;
  box-sizing: border-box;
  padding: 1rem 2rem;
  background-color: $primary-color;
  color: #ffffff;
  width: fit-content;
  border-radius: $border-radius;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 400ms ease;
  text-align: center;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
  &:focus {
    background-color: darken($primary-color, 15%);
  }
  &:active {
    transform: translateY(1.5px);
  }
}

.btn-sm {
  padding: 0.8rem 1.2rem;
}

.f-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.f-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.f-space {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5pt;
}

.f_nLine {
  display: flex;
  flex-direction: column;
}

abbr {
  cursor: help;
  text-decoration: underline;
}

.error {
  text-align: center !important;
  font-weight: 700 !important;
  color: #bb0a0a !important;
  margin: 0 !important;
  padding: 0 !important;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: fit-content;
  padding: 5rem 0;
  form {
    width: 360px;
    h3 {
      margin-bottom: 2rem;
      font-weight: 900;
      color: #535353;
      font-size: 1.3rem;
      text-transform: uppercase;
      &::after {
        content: "";
        display: block;
        width: 40pt;
        height: 4.5pt;
        background-color: darken($primary-color, 1%);
        opacity: 0.5;
        border-radius: $border-radius;
      }
    }
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: $border-radius;
    box-shadow: 0px 10px 20px -5px #00000023;
    input {
      width: 300px;
    }
    label {
      color: #6b6b6b;
      margin-left: 1rem;
      font-weight: 700;
      margin-bottom: 0.3rem;
    }
    button {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: #ffffff;
        font-size: 1.2rem;
        transform: translate(2px, 0px);
      }
    }
    span {
      text-align: right;
      font-size: 0.8rem;
      margin-top: 0.6rem;
      a {
        color: #606060;
      }
    }
    .contentChangeable {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h4 {
        font-weight: 800;
        margin-bottom: 0.5rem;
        background-color: transparent;
        text-align: center;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 50px 1fr;
        align-items: center;
        color: #656565;
        &::before {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          background-color: #33333327;
        }
        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          background-color: #33333327;
        }
      }
      p {
        font-weight: 700;
        color: #404040;
        font-size: 0.8rem;
        text-align: left;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1rem;
        strong {
          font-weight: 800;
          color: #303030;
        }
      }
      ul {
        font-weight: 700;
        color: #404040;
        font-size: 0.8rem;
        text-align: left;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-left: 2.2rem;
        transform: translateY(-10px);
        opacity: 0.8;
        li {
          margin-top: 0.5rem;
        }
      }
      a {
        font-weight: 700;
        color: #404040;
        font-size: 0.8rem;
        text-align: left;
        width: 90%;
        text-decoration: underline;
        margin: 0.2rem auto;
        text-align: left;
        opacity: 0.7;
        &:last-child {
          margin-bottom: 0.5rem;
        }
        cursor: pointer;
      }
      .showPass {
        width: 90%;
        margin: 0.6rem auto;
        input {
          width: fit-content;
          margin: 0.5rem;
        }
        input[type="checkbox"] {
          position: absolute;
          left: -9999999%;
          opacity: 0;
        }
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        background-color: transparent;
        label {
          margin: 0;
          font-size: 0.9rem;
          user-select: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          position: relative;
          padding-left: 2rem;
          &::before {
            position: absolute;
            left: 0;
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            margin-right: 0.8rem;
            background-color: #00000027;
            opacity: 0.5;
            border: 2px solid #00000013;
            transition: all 0.2s ease-in-out;
          }
        }
        input[type="checkbox"]:checked + label {
          &::before {
            border-left: 0px;
            border-top: 0;
            background-color: transparent;
            border-color: $primary-color;
            border-radius: 0;
            width: 8px;
            height: 18px;
            transform: rotate(40deg) translate(4px, -8px);
            opacity: 1;
          }
        }
      }
    }
    #st1 {
      display: none;
    }
    #st2 {
      display: none;
    }
    #st3_1 {
      display: none;
    }
    #st3_2 {
      display: none;
    }
    #st4 {
      display: none;
    }
  }
  .form {
    width: 360px;
    h3 {
      margin-bottom: 2rem;
      font-weight: 900;
      color: #535353;
      font-size: 1.3rem;
      text-transform: uppercase;
      &::after {
        content: "";
        display: block;
        width: 40pt;
        height: 4.5pt;
        background-color: darken($primary-color, 1%);
        opacity: 0.5;
        border-radius: $border-radius;
      }
    }
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: $border-radius;
    box-shadow: 0px 10px 20px -5px #00000023;
    input {
      width: 300px;
    }
    label {
      color: #6b6b6b;
      margin-left: 1rem;
      font-weight: 700;
      margin-bottom: 0.3rem;
    }
    button {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: #ffffff;
        font-size: 1.2rem;
        transform: translate(2px, 0px);
      }
    }
    span {
      text-align: right;
      font-size: 0.8rem;
      margin-top: 0.6rem;
      a {
        color: #606060;
      }
    }
    .contentChangeable {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h4 {
        font-weight: 800;
        margin-bottom: 0.5rem;
        background-color: transparent;
        text-align: center;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 50px 1fr;
        align-items: center;
        color: #656565;
        &::before {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          background-color: #33333327;
        }
        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          background-color: #33333327;
        }
      }
      p {
        font-weight: 700;
        color: #404040;
        font-size: 0.8rem;
        text-align: left;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1rem;
        strong {
          font-weight: 800;
          color: #303030;
        }
      }
      ul {
        font-weight: 700;
        color: #404040;
        font-size: 0.8rem;
        text-align: left;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-left: 2.2rem;
        transform: translateY(-10px);
        opacity: 0.8;
        li {
          margin-top: 0.5rem;
        }
      }
      a {
        font-weight: 700;
        color: #404040;
        font-size: 0.8rem;
        text-align: left;
        width: 90%;
        text-decoration: underline;
        margin: 0.2rem auto;
        text-align: left;
        opacity: 0.7;
        &:last-child {
          margin-bottom: 0.5rem;
        }
        cursor: pointer;
      }
      .showPass {
        width: 90%;
        margin: 0.6rem auto;
        input {
          width: fit-content;
          margin: 0.5rem;
        }
        input[type="checkbox"] {
          position: absolute;
          left: -9999999%;
          opacity: 0;
        }
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        background-color: transparent;
        label {
          margin: 0;
          font-size: 0.9rem;
          user-select: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          position: relative;
          padding-left: 2rem;
          &::before {
            position: absolute;
            left: 0;
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            margin-right: 0.8rem;
            background-color: #00000027;
            opacity: 0.5;
            border: 2px solid #00000013;
            transition: all 0.2s ease-in-out;
          }
        }
        input[type="checkbox"]:checked + label {
          &::before {
            border-left: 0px;
            border-top: 0;
            background-color: transparent;
            border-color: $primary-color;
            border-radius: 0;
            width: 8px;
            height: 18px;
            transform: rotate(40deg) translate(4px, -8px);
            opacity: 1;
          }
        }
      }
      h5 {
        margin-top: 1.4rem;
        color: #606060;
      }
    }
    #st1 {
      display: none;
    }
    #st2 {
      display: none;
    }
    #st3_1 {
      display: none;
    }
    #st3_2 {
      display: none;
    }
    #st4 {
      display: none;
    }
  }
  .cna {
    margin-top: 1.2rem;
    text-align: center;
    a {
      color: darken($primary-color, 5%);
      text-decoration: none;
      position: relative;
      font-weight: 600;
      &::before {
        content: "";
        display: block;
        width: 0%;
        height: 5pt;
        background-color: darken($primary-color, 1%);
        opacity: 0.25;
        position: absolute;
        bottom: 0;
        z-index: -1;
        transition: width 400ms ease-in-out;
      }
      &:hover::before,
      &:focus::before {
        width: 100%;
      }
    }
    .gback {
      padding: 1rem 0;
    }
  }
}
@media (max-width: 530px) {
  .loginContainer {
    .form {
      width: 80%;
      input {
        width: 100%;
        padding: 0.8rem 1.2rem;
      }
    }
    form {
      width: 80%;
      input {
        width: 100%;
        padding: 0.8rem 1.2rem;
      }
    }
  }
}
@media (max-width: 450px) {
  body {
    font-size: 0.8rem;
  }
  .loginContainer {
    padding: 2rem 0;
    .form {
      background-color: transparent;
      box-shadow: none;
      width: 100%;
      .btn {
        margin-top: 2.4rem;
      }
    }
    form {
      background-color: transparent;
      box-shadow: none;
      width: 100%;
      .btn {
        margin-top: 2.4rem;
      }
    }
    .cna {
      width: 80%;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 0.5pt;
        background-color: #0000001f;
        margin-bottom: 1rem;
      }
    }
  }
}

/* First Time Setup */
.firstTime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  min-height: 480px;
  background-color: $primary-color;
  background: linear-gradient(to right top, #149c7cf5, #158369f5),
    url("../resources/abstBack.svg");

  .frtContainer {
    width: 400px;
    background-color: transparent;
    padding: 2rem;
    background-color: $firstTimeBG;
    border-radius: 4pt;
    box-shadow: 2px 20px 20px -10pt #0000002d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    ng-view {
      width: 100%;
    }
    h4 {
      font-weight: 800;
      font-size: 1rem;
      color: #454545;
    }
    h3 {
      font-weight: 800;
      font-size: 1rem;
      color: #454545;
      line-height: 5px;
    }
    h2 {
      font-weight: 900;
      font-size: 1.8rem;
      color: $primary-color;
    }
    h1 {
      font-weight: 900;
      color: $primary-color;
      font-size: 3rem;
    }
    p {
      font-weight: 600;
      color: #404040;
      margin-top: 1rem;
      text-align: left;
    }
    button {
      margin-top: 1rem;
      width: 100%;
    }
    .frmScroll {
      height: 42vh;
      max-height: 620px;
      min-height: 200px;
      overflow: hidden;
      overflow-y: scroll;
      padding-right: 6px;
      width: 103%;
      &::-webkit-scrollbar {
        width: 6px;
        height: 0;
        background-color: transparent;
        border-radius: 20pt;
        visibility: hidden;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $scrollbar;
        border-radius: 20pt;
        visibility: hidden;
        transition: visibility 0.4s ease;
      }
      &:hover::-webkit-scrollbar-thumb {
        visibility: visible;
      }
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 40px;
        background: linear-gradient(to bottom, #eeeeee00 20%, #eeeeee);
        position: sticky;
        bottom: -1px;
        left: 0;
        right: 0;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      width: 100%;
      .txt {
        width: 100%;
        &::placeholder {
          opacity: 0.5;
        }
      }
      label {
        font-weight: 700;
        color: #6b6b6b;
        margin-left: 1rem;
        margin-bottom: 0.3rem;
        user-select: none;
      }
      .downTxt {
        text-align: right;
        font-size: 0.8rem;
        color: #808080;
        margin-top: 0;
      }
      .weekdays {
        padding: 0.8rem 1.5rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 40px);
        overflow: hidden;
        justify-items: start;
        align-items: center;
        grid-gap: 0.4rem;
        label {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          margin: 0;
          padding: 0;
          cursor: pointer;
          color: #404040;
          font-size: 0.9rem;
          background-color: #e7e7e7ec;
          border-radius: $border-radius;
        }
        input[type="checkbox"] {
          position: absolute;
          left: -9999999%;
          opacity: 0;
        }
        input[type="checkbox"]:checked + label {
          background-color: $primary-color;
          color: #ffffff;
        }
      }
    }
    .skip {
      text-align: center;
      color: darken($primary-color, 20%);
      margin-top: 1rem;
      text-decoration: underline;
      cursor: pointer;
    }
    .done {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        color: #505050;
        font-size: 1.1rem;
      }
      i {
        font-size: 3rem;
        background-color: transparent;
        border-radius: 600pt;
        padding: 1rem;
        border: 3pt solid $primary-color;
        color: $primary-color;
      }
    }
  }
}

@media (max-width: 600px) {
  .firstTime {
    background: #eeeeee;
    justify-content: flex-start;
    align-items: flex-start;
    .frtContainer {
      // padding: ;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      padding: 2rem 10%;
      padding-top: 4rem;
      box-shadow: none;
      h2 {
        line-height: 30px;
        margin-bottom: 0.2rem;
      }
      p {
        font-size: 1rem;
      }
      .btn {
        width: 80%;
        position: fixed;
        bottom: 1.5rem;
        left: 50%;
        font-size: 1rem;
        transform: translateX(-50%);
      }
      .btn-sm {
        padding: 1rem 2rem;
      }
      #frmDoc,
      #frmStaff {
        .btn {
          position: static;
          transform: none;
          width: 100%;
        }
        .frmScroll {
          height: fit-content;
          &::after {
            display: none;
          }
        }
      }
      .skip {
        padding-bottom: 1rem;
      }
      .done {
        h3 {
          line-height: initial;
          text-align: left;
          width: 100%;
        }
      }
    }
  }
}

/* Main Dashboard */
.dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: 270px 1fr;
  background-color: lighten($menu-strip-color, 2%);
  height: 100vh;
  overflow: hidden;
  aside {
    z-index: 20;
    &::-webkit-scrollbar {
      width: 6px;
      height: 0;
      background-color: transparent;
      border-radius: 20pt;
      visibility: hidden;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar;
      border-radius: 20pt;
      visibility: hidden;
      transition: visibility 0.4s ease;
    }
    &:hover::-webkit-scrollbar-thumb {
      visibility: visible;
    }
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 15px 0px 66px -47px #0000002a;
    padding: 0.8rem;
    padding-bottom: 2rem;
    header {
      background-color: transparent;
      margin-bottom: 3rem;
      h1 {
        background-color: transparent;
        color: $primary-color;
        font-size: 2.1rem;
        font-weight: 800;
        padding: 1rem;
      }
    }
    .menuContainer {
      .menuItem {
        width: 240px;
        user-select: none;
        cursor: pointer;
        border-radius: 8pt;
        color: #adadad;
        background-color: transparent;
        padding: 0.8rem;
        margin: 0.5rem 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-weight: 700;
        font-size: 1.2rem;
        i {
          color: #adadad;
          margin-right: 1rem;
          font-size: 2rem;
          transition: transform 150ms ease-out;
        }
        &:hover {
          i {
            transform: scale(1.25);
          }
        }
        .moreOption {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          ul {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(0) translateY(30px);
            list-style-type: none;
            background-color: #ffffff;
            min-width: 180px;
            padding: 0.5rem;
            border-radius: $border-radius;
            li {
              padding: 0.2rem 0.5rem;
            }
          }
        }
      }
      .active {
        background-color: $menu-strip-color;
        color: $primary-color;
        transition: background-color 400ms ease-in-out;
        i {
          color: $primary-color;
        }
        &:hover {
          i {
            transform: none;
          }
        }
      }
    }
  }
  main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .error {
      padding: 2rem !important;
    }
  }
}

@media (max-width: 1000px) {
  .dashboard {
    grid-template-columns: 73px 1fr;
    aside {
      header {
        transform: rotateZ(-90deg) translate(-60px, 0);
        h1 {
          font-size: 1.4rem;
          transition: font-size 400ms ease 200ms;
        }
        transition: transform 400ms ease 200ms;
      }
      .menuContainer {
        margin-top: 5rem;
      }
      transition: width 400ms ease 200ms;
      &:hover {
        width: 270px;
      }
      &:hover > header {
        transform: none;
        h1 {
          font-size: 2.1rem;
        }
      }
    }
  }
}
