@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", "Poppins", "Roboto", sans-serif;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  // filter: invert(1);
}

$bg-color: #eaeaea;
$primary-color: #149c7c;
$primary-light: #149c7c34;
$border-radius: 3pt;
$txt-color: #404040;
$menu-strip-color: #edf7f5;
$scrollbar: #149c7c50;
$firstTimeBG: #eeeeee;

@mixin customScrollBar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 0;
    background-color: transparent;
    border-radius: 20pt;
    visibility: hidden;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar;
    border-radius: 20pt;
    visibility: hidden;
    transition: visibility 0.4s ease;
  }
  &:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}

body {
  background-color: $bg-color;
  color: $txt-color;
}

hr {
  opacity: 0.3;
}

i {
  color: $txt-color;
  font-size: 1.2rem;
}

.table-responsive {
  overflow-x: auto;
  table {
    min-width: 800px;
  }
}

.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txtControl {
  display: flex;
  flex-direction: column;
  label {
    margin: 0.4rem 0.8rem;
    font-weight: 700;
    opacity: 0.8;
  }
}

.formFill {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    grid-row-gap: 0.2rem;
    align-items: center;
    justify-content: center;
    justify-self: center;
  }
  .txt {
    margin-bottom: 0;
    &::placeholder {
      opacity: 0.6;
    }
  }
  .btn {
    margin-top: 2rem;
  }
}

.frmControl {
  border-bottom: 1px solid #0000002c;
  padding: 0 1.2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  label {
    margin: 0.4rem 1rem;
    font-weight: 800;
    opacity: 0.8;
  }
  .dflex {
    gap: 1rem;
  }
  .txt {
    &::placeholder {
      opacity: 0.6;
    }
    margin: 0;
  }
  select {
    min-width: 220px;
    font-weight: 600;
    &:disabled {
      opacity: 0.2;
    }
    margin-bottom: 0.4rem;
  }
  small {
    opacity: 0.7;
    margin-top: 0.5rem;
  }
}

// Splash Screen
.splashScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  ion-icon {
    margin-right: 0.5rem;
    animation: loading 2s infinite;
  }
}

// Login Page
.log {
  header {
    background-color: #f8f8f8;
    height: 80px;
    box-shadow: 2px 2px 30px -10px #00000027;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10%;
    h1 {
      color: $primary-color;
      font-weight: 800;
    }
  }
}
.txt {
  all: unset;
  box-sizing: border-box;
  margin-bottom: 1rem;
  background-color: #0000000e;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  color: $txt-color;
  border-radius: $border-radius;
  border: 2pt solid #00000000;
  transition: border-color 200ms ease;
  &:hover {
    border: 2pt solid #0000002c;
  }
  &:focus {
    border: 2pt solid #00000048;
  }
  &::placeholder {
    opacity: 0.3;
  }
  &:disabled {
    opacity: 0.8;
  }
  &:disabled:hover {
    border: 2pt solid #00000000;
  }
}
.btn {
  all: unset;
  box-sizing: border-box;
  padding: 1rem 2rem;
  background-color: $primary-color;
  color: #ffffff;
  width: fit-content;
  border-radius: $border-radius;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 400ms ease;
  text-align: center;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
  &:focus {
    background-color: darken($primary-color, 15%);
  }
  &:active {
    transform: translateY(1.5px);
  }
}

.btn-sm {
  padding: 0.8rem 1.2rem;
}

.btn-dark {
  background-color: #404040;
  &:hover {
    background-color: #353535;
  }
  &:focus {
    background-color: #303030;
  }
}

.txt-dark {
  color: #252525 !important;
}
.txt-danger {
  color: #d15757 !important;
}
.txt-success {
  color: #16a35d !important;
}
.txt-warning {
  color: #b67c11 !important;
}

.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}

.txt-sm {
  padding: 0.6rem 1rem;
}

.f-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.f-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.f-space {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5pt;
}

.f_nLine {
  display: flex;
  flex-direction: column;
}

abbr {
  cursor: help;
  text-decoration: underline;
}

.error {
  text-align: center !important;
  font-weight: 700 !important;
  color: #bb0a0a !important;
  margin: 0 !important;
  padding: 0 !important;
}

.txtWrap1 {
  width: var(--wrWidth);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.closeBtn {
  all: unset;
  width: fit-content;
  i {
    color: #c94646;
    font-size: 2rem;
  }
}

.frm_a {
  width: 100%;
  color: darken($primary-color, 10%);
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 700;
}

.frmHeading {
  font-weight: 800;
  &::after {
    content: "";
    display: block;
    width: 40pt;
    height: 5pt;
    background-color: $primary-color;
    opacity: 0.9;
    border-radius: $border-radius;
  }
}
.opaFull {
  opacity: 1 !important;
}
.opaLess {
  opacity: 0.8 !important;
}

.clickable {
  cursor: pointer;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #00000010;
    opacity: 0;
  }
  &:hover::before {
    opacity: 0.8;
  }
  &:active::before {
    opacity: 1;
  }
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: fit-content;
  padding: 5rem 0;
  form {
    width: 360px;
    h3 {
      margin-bottom: 2rem;
      font-weight: 900;
      color: #535353;
      font-size: 1.3rem;
      text-transform: uppercase;
      &::after {
        content: "";
        display: block;
        width: 40pt;
        height: 4.5pt;
        background-color: darken($primary-color, 1%);
        opacity: 0.5;
        border-radius: $border-radius;
      }
    }
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: $border-radius;
    box-shadow: 0px 10px 20px -5px #00000023;
    input {
      width: 300px;
    }
    label {
      color: #6b6b6b;
      margin-left: 1rem;
      font-weight: 700;
      margin-bottom: 0.3rem;
    }
    button {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: #ffffff;
        font-size: 1.2rem;
        transform: translate(2px, 0px);
      }
    }
    span {
      text-align: right;
      font-size: 0.8rem;
      margin-top: 0.6rem;
      a {
        color: #606060;
      }
    }
    .contentChangeable {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h4 {
        font-weight: 800;
        margin-bottom: 0.5rem;
        background-color: transparent;
        text-align: center;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 50px 1fr;
        align-items: center;
        color: #656565;
        &::before {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          background-color: #33333327;
        }
        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          background-color: #33333327;
        }
      }
      p {
        font-weight: 700;
        color: #404040;
        font-size: 0.8rem;
        text-align: left;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1rem;
        strong {
          font-weight: 800;
          color: #303030;
        }
      }
      ul {
        font-weight: 700;
        color: #404040;
        font-size: 0.8rem;
        text-align: left;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-left: 2.2rem;
        transform: translateY(-10px);
        opacity: 0.8;
        li {
          margin-top: 0.5rem;
        }
      }
      a {
        font-weight: 700;
        color: #404040;
        font-size: 0.8rem;
        text-align: left;
        width: 90%;
        text-decoration: underline;
        margin: 0.2rem auto;
        text-align: left;
        opacity: 0.7;
        &:last-child {
          margin-bottom: 0.5rem;
        }
        cursor: pointer;
      }
      .showPass {
        width: 90%;
        margin: 0.6rem auto;
        input {
          width: fit-content;
          margin: 0.5rem;
        }
        input[type="checkbox"] {
          position: absolute;
          left: -9999999%;
          opacity: 0;
        }
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        background-color: transparent;
        label {
          margin: 0;
          font-size: 0.9rem;
          user-select: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          position: relative;
          padding-left: 2rem;
          &::before {
            position: absolute;
            left: 0;
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            margin-right: 0.8rem;
            background-color: #00000027;
            opacity: 0.5;
            border: 2px solid #00000013;
            transition: all 0.2s ease-in-out;
          }
        }
        input[type="checkbox"]:checked + label {
          &::before {
            border-left: 0px;
            border-top: 0;
            background-color: transparent;
            border-color: $primary-color;
            border-radius: 0;
            width: 8px;
            height: 18px;
            transform: rotate(40deg) translate(4px, -8px);
            opacity: 1;
          }
        }
      }
    }
    #st1 {
      display: none;
    }
    #st2 {
      display: none;
    }
    #st3_1 {
      display: none;
    }
    #st3_2 {
      display: none;
    }
    #st4 {
      display: none;
    }
  }
  .form {
    width: 360px;
    h3 {
      margin-bottom: 2rem;
      font-weight: 900;
      color: #535353;
      font-size: 1.3rem;
      text-transform: uppercase;
      &::after {
        content: "";
        display: block;
        width: 40pt;
        height: 4.5pt;
        background-color: darken($primary-color, 1%);
        opacity: 0.5;
        border-radius: $border-radius;
      }
    }
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: $border-radius;
    box-shadow: 0px 10px 20px -5px #00000023;
    input {
      width: 300px;
    }
    label {
      color: #6b6b6b;
      margin-left: 1rem;
      font-weight: 700;
      margin-bottom: 0.3rem;
    }
    button {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: #ffffff;
        font-size: 1.2rem;
        transform: translate(2px, 0px);
      }
    }
    span {
      text-align: right;
      font-size: 0.8rem;
      margin-top: 0.6rem;
      a {
        color: #606060;
      }
    }
    .contentChangeable {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h4 {
        font-weight: 800;
        margin-bottom: 0.5rem;
        background-color: transparent;
        text-align: center;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 50px 1fr;
        align-items: center;
        color: #656565;
        &::before {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          background-color: #33333327;
        }
        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          background-color: #33333327;
        }
      }
      p {
        font-weight: 700;
        color: #404040;
        font-size: 0.8rem;
        text-align: left;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1rem;
        strong {
          font-weight: 800;
          color: #303030;
        }
      }
      ul {
        font-weight: 700;
        color: #404040;
        font-size: 0.8rem;
        text-align: left;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-left: 2.2rem;
        transform: translateY(-10px);
        opacity: 0.8;
        li {
          margin-top: 0.5rem;
        }
      }
      a {
        font-weight: 700;
        color: #404040;
        font-size: 0.8rem;
        text-align: left;
        width: 90%;
        text-decoration: underline;
        margin: 0.2rem auto;
        text-align: left;
        opacity: 0.7;
        &:last-child {
          margin-bottom: 0.5rem;
        }
        cursor: pointer;
      }
      .showPass {
        width: 90%;
        margin: 0.6rem auto;
        input {
          width: fit-content;
          margin: 0.5rem;
        }
        input[type="checkbox"] {
          position: absolute;
          left: -9999999%;
          opacity: 0;
        }
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        background-color: transparent;
        label {
          margin: 0;
          font-size: 0.9rem;
          user-select: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          position: relative;
          padding-left: 2rem;
          &::before {
            position: absolute;
            left: 0;
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            margin-right: 0.8rem;
            background-color: #00000027;
            opacity: 0.5;
            border: 2px solid #00000013;
            transition: all 0.2s ease-in-out;
          }
        }
        input[type="checkbox"]:checked + label {
          &::before {
            border-left: 0px;
            border-top: 0;
            background-color: transparent;
            border-color: $primary-color;
            border-radius: 0;
            width: 8px;
            height: 18px;
            transform: rotate(40deg) translate(4px, -8px);
            opacity: 1;
          }
        }
      }
      h5 {
        margin-top: 1.4rem;
        color: #606060;
      }
    }
    #st1 {
      display: none;
    }
    #st2 {
      display: none;
    }
    #st3_1 {
      display: none;
    }
    #st3_2 {
      display: none;
    }
    #st4 {
      display: none;
    }
  }
  .cna {
    margin-top: 1.2rem;
    text-align: center;
    a {
      color: darken($primary-color, 5%);
      text-decoration: none;
      position: relative;
      font-weight: 600;
      &::before {
        content: "";
        display: block;
        width: 0%;
        height: 5pt;
        background-color: darken($primary-color, 1%);
        opacity: 0.25;
        position: absolute;
        bottom: 0;
        z-index: -1;
        transition: width 400ms ease-in-out;
      }
      &:hover::before,
      &:focus::before {
        width: 100%;
      }
    }
    .gback {
      padding: 1rem 0;
    }
  }
}

@media (max-width: 530px) {
  .loginContainer {
    .form {
      width: 80%;
      input {
        width: 100%;
        padding: 0.8rem 1.2rem;
      }
    }
    form {
      width: 80%;
      input {
        width: 100%;
        padding: 0.8rem 1.2rem;
      }
    }
  }
}

@media (max-width: 450px) {
  body {
    font-size: 0.8rem;
  }
  .loginContainer {
    padding: 2rem 0;
    .form {
      background-color: transparent;
      box-shadow: none;
      width: 100%;
      .btn {
        margin-top: 2.4rem;
      }
    }
    form {
      background-color: transparent;
      box-shadow: none;
      width: 100%;
      .btn {
        margin-top: 2.4rem;
      }
    }
    .cna {
      width: 80%;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 0.5pt;
        background-color: #0000001f;
        margin-bottom: 1rem;
      }
    }
  }
}

/* First Time Setup */
.firstTime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  min-height: 480px;
  background-color: $primary-color;
  background: linear-gradient(to right top, #149c7cf5, #158369f5),
    url("../resources/abstBack.svg");

  .frtContainer {
    width: 400px;
    background-color: transparent;
    padding: 2rem;
    background-color: $firstTimeBG;
    border-radius: 4pt;
    box-shadow: 2px 20px 20px -10pt #0000002d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    ng-view {
      width: 100%;
    }
    h4 {
      font-weight: 800;
      font-size: 1rem;
      color: #454545;
    }
    h3 {
      font-weight: 800;
      font-size: 1rem;
      color: #454545;
      line-height: 5px;
    }
    h2 {
      font-weight: 900;
      font-size: 1.8rem;
      color: $primary-color;
    }
    h1 {
      font-weight: 900;
      color: $primary-color;
      font-size: 3rem;
    }
    p {
      font-weight: 600;
      color: #404040;
      margin-top: 1rem;
      text-align: left;
    }
    button {
      margin-top: 1rem;
      width: 100%;
    }
    .frmScroll {
      height: 42vh;
      max-height: 620px;
      min-height: 200px;
      overflow: hidden;
      overflow-y: scroll;
      padding-right: 6px;
      width: 103%;
      &::-webkit-scrollbar {
        width: 6px;
        height: 0;
        background-color: transparent;
        border-radius: 20pt;
        visibility: hidden;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $scrollbar;
        border-radius: 20pt;
        visibility: hidden;
        transition: visibility 0.4s ease;
      }
      &:hover::-webkit-scrollbar-thumb {
        visibility: visible;
      }
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 40px;
        background: linear-gradient(to bottom, #eeeeee00 20%, #eeeeee);
        position: sticky;
        bottom: -1px;
        left: 0;
        right: 0;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      width: 100%;
      .txt {
        width: 100%;
        &::placeholder {
          opacity: 0.5;
        }
      }
      label {
        font-weight: 700;
        color: #6b6b6b;
        margin-left: 1rem;
        margin-bottom: 0.3rem;
        user-select: none;
      }
      .downTxt {
        text-align: right;
        font-size: 0.8rem;
        color: #808080;
        margin-top: 0;
      }
      .weekdays {
        padding: 0.8rem 1.5rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 40px);
        overflow: hidden;
        justify-items: start;
        align-items: center;
        grid-gap: 0.4rem;
        label {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          margin: 0;
          padding: 0;
          cursor: pointer;
          color: #404040;
          font-size: 0.9rem;
          background-color: #e7e7e7ec;
          border-radius: $border-radius;
        }
        input[type="checkbox"] {
          position: absolute;
          left: -9999999%;
          opacity: 0;
        }
        input[type="checkbox"]:checked + label {
          background-color: $primary-color;
          color: #ffffff;
        }
      }
    }
    .skip {
      text-align: center;
      color: darken($primary-color, 20%);
      margin-top: 1rem;
      text-decoration: underline;
      cursor: pointer;
    }
    .done {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        color: #505050;
        font-size: 1.1rem;
      }
      .doneImg {
        background-color: transparent;
        height: 98px;
        width: 98px;
        margin-bottom: 0.5rem;
        border-radius: 100pt;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
      i {
        font-size: 3rem;
        background-color: transparent;
        border-radius: 600pt;
        padding: 1rem;
        border: 3pt solid $primary-color;
        color: $primary-color;
      }
    }
  }
}

@media (max-width: 600px) {
  .firstTime {
    background: #eeeeee;
    justify-content: flex-start;
    align-items: flex-start;
    .frtContainer {
      // padding: ;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      padding: 2rem 10%;
      padding-top: 4rem;
      box-shadow: none;
      h2 {
        line-height: 30px;
        margin-bottom: 0.2rem;
      }
      p {
        font-size: 1rem;
      }
      .btn {
        width: 80%;
        position: fixed;
        bottom: 1.5rem;
        left: 50%;
        font-size: 1rem;
        transform: translateX(-50%);
      }
      .btn-sm {
        padding: 1rem 2rem;
      }
      #frmDoc,
      #frmStaff {
        .btn {
          position: static;
          transform: none;
          width: 100%;
        }
        .frmScroll {
          height: fit-content;
          &::after {
            display: none;
          }
        }
      }
      .skip {
        padding-bottom: 1rem;
      }
      .done {
        h3 {
          line-height: initial;
          text-align: left;
          width: 100%;
        }
      }
    }
  }
}

/* Main Dashboard */
.dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: 270px 1fr;
  background-color: lighten($menu-strip-color, 2%);
  height: 100vh;
  overflow: hidden;
  aside {
    overflow-x: hidden;
    z-index: 20;
    &::-webkit-scrollbar {
      width: 6px;
      height: 0;
      background-color: transparent;
      border-radius: 20pt;
      visibility: hidden;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar;
      border-radius: 20pt;
      visibility: hidden;
      transition: visibility 0.4s ease;
    }
    &:hover::-webkit-scrollbar-thumb {
      visibility: visible;
    }
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 15px 0px 66px -47px #0000002a;
    padding: 0.8rem;
    padding-bottom: 2rem;
    header {
      background-color: transparent;
      margin-bottom: 3rem;
      h1 {
        background-color: transparent;
        color: $primary-color;
        font-size: 2.1rem;
        font-weight: 800;
        padding: 1rem;
      }
    }
    .menuContainer {
      .menuItem {
        width: 240px;
        user-select: none;
        cursor: pointer;
        border-radius: 8pt;
        color: #adadad;
        background-color: transparent;
        padding: 0.8rem;
        margin: 0.5rem 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-weight: 700;
        font-size: 1.15rem;
        i {
          color: #adadad;
          margin-right: 0.8rem;
          font-size: 1.8rem;
          transition: transform 150ms ease-out;
        }
        &:hover {
          i {
            transform: scale(1.18);
          }
        }
        .moreOption {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          ul {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(0) translateY(30px);
            list-style-type: none;
            background-color: #ffffff;
            min-width: 180px;
            padding: 0.5rem;
            border-radius: $border-radius;
            li {
              padding: 0.2rem 0.5rem;
            }
          }
        }
      }
      .active {
        background-color: $menu-strip-color;
        color: $primary-color;
        transition: background-color 400ms ease-in-out;
        i {
          color: $primary-color;
        }
        &:hover {
          i {
            transform: none;
          }
        }
      }
    }
  }
  main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .error {
      padding: 2rem !important;
    }
  }
}

@media (max-width: 1000px) {
  .dashboard {
    grid-template-columns: 73px 1fr;
    aside {
      header {
        transform: rotateZ(-90deg) translate(-60px, 0);
        h1 {
          font-size: 1.4rem;
          transition: font-size 400ms ease 200ms;
        }
        transition: transform 400ms ease 200ms;
      }
      .menuContainer {
        margin-top: 5rem;
      }
      transition: width 400ms ease 200ms;
      &:hover {
        width: 270px;
      }
      &:hover > header {
        transform: none;
        h1 {
          font-size: 2.1rem;
        }
      }
    }
  }
}

.tvMode {
  grid-template-columns: 1fr;
  aside {
    display: none;
  }
  #frmQueue {
    display: none;
  }
}

.content {
  padding: 1.5rem 2rem;
  width: 100%;
}

.clinic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: $primary-color;
  background: linear-gradient(to right top, #149c7cf5, #158369f5),
    url("../resources/abstBack.svg");
  padding: 2rem;
  h1 {
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem;
    color: #ffffff;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 0.2px;
    @media (max-width: 600px) {
      text-align: center;
    }
  }
  .clinicContainer {
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-content: center;
    align-items: flex-start;
    justify-items: center;
    gap: 1rem;
    padding: 1rem 3rem;
    &::-webkit-scrollbar {
      display: none;
    }
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;
    }
    .cItems {
      cursor: pointer;
      width: fit-content;
      background-color: #ffffff;
      border-radius: 6pt;
      padding: 1rem;
      width: 180px;
      height: 180px;
      box-shadow: 0 15px 20px -10px #00000077;
      img {
        user-select: none;
        width: 100%;
        height: 120px;
        object-fit: cover;
        object-position: center;
        background-color: #ededed;
        border-radius: 6pt;
      }
      p {
        text-align: center;
        width: 100%;
        font-weight: 800;
        margin-top: 0.5rem;
        user-select: none;
        font-size: 0.9rem;
      }
      transition: transform 200ms ease, box-shadow 200ms ease;
      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 18px 28px -6px #00000077;
      }
      &:active {
        transform: translateY(2px);
        box-shadow: 0 10px 20px -10px #00000052;
        transition: none;
      }
    }
    .newAdd {
      box-shadow: none !important;
      background-color: #1e7963a1;
      &:hover {
        transform: none;
      }
      &:active {
        transform: scale(0.95);
      }
      .icon {
        color: #ffffff;
        background-color: transparent;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i {
          font-size: 3rem;
          color: #ffffff;
        }
        p {
          font-weight: 600;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}

.dashboard {
  .content {
    max-width: 1250px;
    margin: 0 auto;
    padding-bottom: 0;
    overflow: hidden;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 8px;
      height: 0;
      background-color: transparent;
      visibility: hidden;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary-color;
      border-radius: 0;
      visibility: hidden;
      transition: visibility 0.4s ease;
    }
    &:hover::-webkit-scrollbar-thumb {
      visibility: visible;
    }
  }
}

.dropDownContainer {
  position: relative;
  .dropDownContent {
    position: relative;
    .headingTxt {
      font-weight: 800;
      color: #404040;
      padding: 0.2rem;
      text-align: left;
      z-index: 2;
      background-color: #ffffff;
      &::after {
        content: "";
        display: block;
        height: 4px;
        width: 20%;
        background-color: $primary-color;
        opacity: 0.8;
        border-radius: 100pt;
        margin-top: 0.3rem;
      }
    }
    transform: translateY(10px);
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #ffffff;
    width: 250px;
    max-height: 328px;
    display: none;
    z-index: 500;
    overflow: hidden;
    overflow-y: scroll;
    @include customScrollBar();
    padding: 0.5rem 1rem;
    border-radius: 6pt;
    box-shadow: 2px 20px 40px -5px #00000028;
    &:hover,
    &:active {
      display: block;
    }
    .dropItem {
      display: block;
      padding: 0.8rem 1.2rem;
      text-decoration: none;
      color: $txt-color;
      background-color: transparent;
      border-bottom: 1px solid #00000012;
      font-weight: 600;
      opacity: 0.8;
      width: 100%;
      overflow: hidden;
      font-size: 1rem;
      border-radius: 3pt !important;
      &:nth-last-child(1) {
        border-bottom: none;
      }
    }
    .dpIcon {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      i {
        color: inherit;
        margin-right: 0.5rem;
      }
    }
    .sm-profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #00000012;
      padding: 1rem 0;
      .img {
        width: 72px;
        height: 72px;
        overflow: hidden;
        border-radius: 100pt;
        background-color: #f0f0f0;
        margin-bottom: 0.5rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .prName {
        font-size: 1rem;
        font-weight: 700;
        color: #606060;
      }
      .prPhone {
        font-size: 0.8rem;
        font-weight: 400;
        margin-top: 0.2rem;
        color: #606060;
      }
    }
  }
  &:focus-within .dropDownContent {
    display: block;
  }
  @media (max-width: 400px) {
    &:nth-last-child(2) .dropDownContent {
      left: 0;
      right: initial;
    }
  }
}

.getStarted {
  background-color: transparent;

  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.2rem;
    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h4 {
        line-height: 14px;
        transform: translateY(2px);
        font-size: 1.1rem;
        opacity: 0.8;
      }
      h2 {
        font-weight: 900;
        font-size: 1.8rem;
        width: 100%;
        opacity: 0.9;
      }
    }
    .interect {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      .searchBox {
        overflow: hidden;
        border-radius: 6pt;
        background-color: #00000004;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        label {
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 6pt;
          background-color: #00000010;
          opacity: 0.8;
          cursor: pointer;
          i {
            font-size: 1.3rem;
            color: #5a5a5ac0;
          }
        }
        input[type="text"] {
          all: unset;
          padding: 0.4rem 0.8rem;
          background-color: transparent;
          color: #4e4e4e;
          font-weight: 700;
          width: 160px;
          font-size: 0.9rem;
          transition: width 200ms ease-out;
          &::placeholder {
            opacity: 0.5;
          }
        }
        &:focus-within {
          background-color: #00000008;
          input[type="text"] {
            width: 190px;
          }
        }
      }
      button {
        all: unset;
        cursor: pointer;
        margin-left: 1rem;
        height: 40px;
        width: 40px;
        // overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00000010;
        border-radius: 6pt;
        i {
          color: #5a5a5a;
          font-size: 1.3rem;
        }
      }
      .userBtn {
        background-color: #149c7c1a;
        i {
          color: $primary-color;
        }
      }
    }
  }

  @media (max-width: 860px) {
    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .interect {
        width: 100%;
        justify-content: flex-start;
        .searchBox {
          width: 85%;
          justify-content: flex-start;
          &:focus-within {
            background-color: #00000008;
            input[type="text"] {
              width: fit-content;
            }
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    header {
      .interect {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr repeat(2, 40px);
        gap: 1rem;
        .searchBox {
          width: 100%;
          min-width: 40px;
          label {
            min-width: 40px;
          }
        }
        button {
          margin-left: 0;
        }
      }
    }
  }

  @media (max-width: 400px) {
    header {
      gap: 1rem;
      .intro {
        h4 {
          font-size: 0.8rem;
        }
        h2 {
          font-size: 1.4rem;
        }
      }
      .interect {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-areas: "btn1 btn2" "search search";
        .searchBox {
          grid-area: search;
        }
        button {
          &:nth-child(2) {
            grid-area: btn1;
          }
          &:nth-child(3) {
            grid-area: btn2;
          }
        }
      }
    }
  }

  .headItem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 0;
    gap: 1.5rem;
    .item {
      background-color: #ebebeb;
      padding: 1.2rem;
      border-radius: 6pt;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      i {
        background-color: #0000001e;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        border-radius: 600pt;
        font-size: 25pt;
      }
      .textCon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h4 {
          font-size: 1.4rem;
          font-weight: 800;
        }
        p {
          font-size: 0.8rem;
          font-weight: 700;
        }
      }
    }
    .iOrange {
      background-color: #f7ede8;
      color: #f18b69;
      i {
        color: #f18b69;
        background-color: #f8ded4;
      }
    }
    .iPurple {
      background-color: #ebeaf7;
      color: #9068e0;
      i {
        color: #9068e0;
        background-color: #dad1f3;
      }
    }
    .iBlue {
      background-color: #e5edf9;
      color: #5d84f4;
      i {
        color: #5d84f4;
        background-color: #cad9f8;
      }
    }
  }

  @media (max-width: 860px) {
    .headItem {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1rem;
      .item {
        padding: 0.8rem;
      }
    }
  }

  @media (max-width: 400px) {
    .headItem {
      display: flex;
      flex-direction: column;
    }
  }

  .statsContainer {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 300px;
    gap: 2rem;
    .lineChartContainer {
      background-color: #ffffff;
      overflow: hidden;
      border-radius: 6pt;
      width: 100%;
      box-shadow: 5px 45px 80px -10px #00000015;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      iframe {
        height: 100%;
        width: 100%;
      }
    }
    .interectContainer {
      width: 100%;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      gap: 0rem;
      .btnContainer {
        all: unset;
        cursor: pointer;
        background-color: #ffffff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 0 25px 28px -10px #00000011;
        padding: 0.8rem 1rem;
        border-radius: 6pt;
        transition: transform 200ms ease;
        i {
          font-size: 2.2rem;
          margin-right: 1rem;
          height: 60px;
          width: 60px;
          background-color: #f1f1f1;
          border-radius: 6pt;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        p {
          font-weight: 700;
          font-size: 1.12rem;
        }
        &:hover {
          transform: translateY(-4px);
        }
        &:active {
          transform: translateY(2px);
          transition: transform 0ms ease;
        }
        &:nth-child(1) {
          color: #f18b69;
          i {
            background-color: #f8ded4be;
            color: #f18b69;
          }
        }
        &:nth-child(2) {
          color: #9068e0;
          i {
            background-color: #ebeaf7;
            color: #9068e0;
          }
        }
        &:nth-child(3) {
          color: #5d83f3;
          i {
            background-color: #f0f4fe;
            color: #5d83f3;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .statsContainer {
      grid-template-columns: 1fr 250px;
    }
  }

  @media (max-width: 950px) {
    .statsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .interectContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        .btnContainer {
          flex-direction: column;
          gap: 1rem;
          text-align: center;
          i {
            margin: 0;
            width: 100%;
            height: 80px;
            font-size: 30pt;
          }
          p {
            font-size: 1rem;
          }
          &:hover {
            transform: translateY(0px);
          }
          &:active {
            transform: translateY(3px);
            transition: transform 0ms ease;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .statsContainer {
      .lineChartContainer {
        height: 350px;
      }
      .interectContainer {
        gap: 1rem;
        .btnContainer {
          i {
            font-size: 20pt;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    .statsContainer {
      .interectContainer {
        display: flex;
        .btnContainer {
          padding: 0.5rem;
          flex-direction: row;
          i {
            width: 50px;
            height: 50px;
          }
          p {
            text-align: left;
          }
        }
      }
    }
  }

  .recentIllnessContainer {
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 20px 40px -10px #0000001c;
    border-radius: 6pt;
    h2 {
      font-weight: 900;
    }
    .itemContainer {
      margin: 1.4rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1rem;
      .item {
        background-color: #ffffff;
        color: #464646;
        padding: 0.8rem 1rem;
        border-radius: 6pt;
        box-shadow: 0px 5px 20px #00000017;
        h4 {
          color: $primary-color;
          font-size: 1rem;
          font-weight: 800;
          margin-bottom: 0.2rem;
        }
        p {
          font-size: 0.8rem;
          color: #4d4d4d;
          font-weight: 600;
          width: fit-content;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .recentIllnessContainer {
      h2 {
        font-size: 1rem;
      }
      .itemContainer {
        margin: 1.4rem 0;
        grid-template-columns: 1fr;
        .item {
          box-shadow: none;
          background-color: #f6f6f6;
          h4 {
            font-size: 1rem;
          }
          p {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .content {
    padding: 1.5rem 1rem;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .getStarted .statsContainer {
    height: 500px;
    img {
      height: 100%;
      object-fit: cover !important;
      object-position: left;
    }
  }
}

@media (max-width: 400px) {
  .dashboard {
    grid-template-columns: 60px 1fr;
    aside {
      padding: 0.5rem;
    }
  }
  .dashboard aside .menuContainer .menuItem {
    padding: 0.8rem 0.5rem;
  }
}

.queue {
  overflow-y: scroll;
  h1 {
    font-weight: 800;
  }
  .tvMode {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: #ffffff;
      margin-right: 1rem;
    }
    margin-bottom: 1rem;
  }
  .queueData {
    table {
      margin-bottom: 3rem;
      border-collapse: collapse;
      width: 100%;
      overflow: hidden;
      border-radius: 6pt;
      box-shadow: 0 20px 20px -5px #00000017;
    }

    td {
      border: 1px solid #3f3f3f1a;
      text-align: left;
      padding: 4px;
    }

    .docActive {
      background-color: $primary-light;
      select {
        color: $primary-color;
      }
    }
    td:nth-child(1) {
      text-align: center;
    }
    td {
      .txt {
        width: 100%;
        margin: 0;
        background-color: transparent;
        font-weight: 700;
      }
    }
    tr:nth-child(1) {
      background-color: $primary-color;
      color: #ffffff;
      font-weight: 800;
      th {
        padding: 1.2rem 0.8rem;
        text-align: left;
      }
    }
  }
  .patientsPage {
    h3 {
      font-weight: 700;
      color: #606060;
    }
    table {
      td {
        padding: 0.8rem;
      }
    }
  }
}
@media (max-width: 600px) {
  .queue {
    .frmControl {
      .dflex {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .txt,
        .btn {
          width: 100%;
        }
      }
    }
  }
  .queuePageDataContainer {
    .tvMode {
      display: none;
    }
  }
}

.allTime {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  z-index: 500;
  background: none;
  background-color: #000000e8;
  @media (max-width: 600px) {
    align-items: flex-start;
  }
  @media (max-height: 500px) {
    align-items: flex-start;
    padding: 0;
  }
  .frtContainer {
    position: relative;
    margin: 0;
    height: fit-content;
    padding: 1rem 1.5rem;
    @media (max-width: 600px) {
      padding-top: 3rem;
    }
    .closeBtn {
      cursor: pointer;
      background-color: #ffffff;
      border-radius: 60pt;
      height: 30px;
      width: 30px;
      padding: 0 !important;
      position: absolute;
      top: -28px;
      right: -12px;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 1.8rem;
        padding: 0;
        margin: 0;
      }
      @media (max-width: 600px) {
        right: 5px;
        top: -12px;
        background-color: transparent;
        i {
          font-size: 1.4rem;
        }
      }
    }

    @media (max-height: 500px) {
      height: 100%;
    }
    .frmScroll {
      height: 50vh;
      @media (max-height: 500px) {
        height: 150px;
      }
    }
  }
}
.allTimeShow {
  display: flex;
}

.btnADoc {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  i {
    margin-right: 1rem;
    color: #ffffff;
    font-size: 1.6rem;
  }
}

@media (max-height: 450px) {
  body {
    aside,
    main {
      display: none !important;
    }
  }
}
@media (max-width: 300px) {
  body {
    aside,
    main {
      display: none !important;
    }
  }
}
